@import 'tailwindcss';

@theme {
  --font-sans: 'Anuphan', sans-serif;
}

@font-face {
  font-family: 'Anuphan';
  src: url('./../fonts/Anuphan-VariableFont_wght.ttf');
}

@utility text-dimmed {
  color: var(--color-gray-400);
}

@utility text-muted {
  color: var(--color-gray-500);
}

@utility text-toned {
  color: var(--color-gray-600);
}

@utility text-highlighted {
  color: var(--color-gray-900);
}

@utility text-primary {
  color: var(--color-emerald-500);
}

@layer base {
  *,
  ::before,
  ::after {
    color: var(--color-gray-700);

    border-color: var(--color-gray-200);
  }
}
